<!-- ========================= Breadcrumb Start =============================== -->
<app-breadcrumb title="Reset Password" [items]="[
  { label: 'Reset Password' }
]"></app-breadcrumb>
<!-- ========================= Breadcrumb End =============================== -->


<!-- =============================== Account Section Start =========================== -->
<section class="account py-80">
    <div class="container container-lg">

            <div class="row gy-4">

                <!-- Login Card Start -->
                <div class="col-xl-4 pe-xl-2"></div>
                <div class="col-xl-4 pe-xl-5 border border-gray-100 hover-border-main-600 transition-1 rounded-16 px-24 py-40">
                   <form #form="ngForm" (ngSubmit)="sendRequest(form)">

                      <div class="mb-24">
                        <label for="enter-password" class="text-neutral-900 text-lg mb-8 fw-medium">New Password <span class="text-danger">*</span></label>
                        <div class="position-relative">
                          <input type="password" name="newpassword" [(ngModel)]="resetPasswordData.newpassword" id="enter-password" placeholder="Enter Password" class="common-input">
                          <span class="toggle-password position-absolute top-50 inset-inline-end-0 me-16 translate-middle-y cursor-pointer ph ph-eye-slash"></span>
                        </div>
                      </div>
                      <div class="mb-24">
                        <label for="enter-password" class="text-neutral-900 text-lg mb-8 fw-medium">Confirm Password <span class="text-danger">*</span></label>
                        <div class="position-relative">
                          <input type="password" name="confirmPassword" [(ngModel)]="resetPasswordData.confirmPassword" id="enter-Confirm-password" placeholder="Confirm Password" class="common-input">
                          <span  class="toggle-password position-absolute top-50 inset-inline-end-0 me-16 translate-middle-y cursor-pointer ph ph-eye-slash"></span>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-main py-18 w-100 rounded-8">
                            Change Password
                      </button>
                       <!-- Back to Login -->
          <div class="col-xl-12 pe-xl-3">
            <div class="mt-12">
              <a [routerLink]="['/signin']"
                 class="text-gray-600 text-sm fw-semibold hover-text-decoration-underline">
               <i class="ph ph-arrow-bend-up-left"></i> Back to Sign-In
              </a>
            </div>
          </div>

                    </form>

                </div>
                 <div class="col-xl-4 pe-xl-2"></div>
                <!-- Login Card End -->
            </div>
    </div>
</section>
<!-- =============================== Account Section End =========================== -->

