<div class="row justify-content-center">

  <div class="col-md-12 col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Product Details</h4>
          </div>
          <div class="col text-end">
            <a routerLink="/product/add" class="btn btn-primary btn-md">
              <i class="las la-plus me-2"></i>Add New Product
            </a>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-header-->
      <div class="card-body pt-0">
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <label class="form-label" for="groupSelect">Group Name</label>
                      <select id="groupSelect" (change)="loadProductCategoriesByGroupID($any($event.target).value)" class="form-select" aria-label="Default select example">
                        <option value="" disabled selected>Select group</option>
                        <option *ngFor="let data of lstProductGroup" [value]="data.groupid">
                          {{data.groupname}}
                        </option>
                      </select>
                </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                    <label class="form-label" for="categorySelect">Category</label>
                      <select id="categorySelect" (change)="loadProductsByCategoryID($any($event.target).value)" class="form-select" aria-label="Default select example">
                        <option value="" disabled selected>Select category</option>
                        <option *ngFor="let data of lstProductCategory" [value]="data.categoryid">
                          {{data.categoryname}}
                        </option>
                      </select>
                </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                  <label class="form-label" for="searchInput">Search</label>
                   <div class="input-group">
                     <input type="text" class="form-control" id="searchInput" placeholder="Ex : Find Product" [(ngModel)]="searchText" />
                      <button type="button" class="btn btn-primary" (click)="searchProducts()">Search</button>
                   </div>
                 
              </div>
            </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered mb-0 table-centered">
            <thead>
              <tr>
                <th>S.No</th>
                <th>Product Code</th>
                <th>Product Name</th>
                <th class="text-end"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of lstProduct; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ data.productcode }}</td>
                <td>{{ data.productname }}</td>
                <td class="text-center">
                  <button class="btn btn-sm btn-primary me-2" (click)="editProduct(data.productid)">
                    <i class="las la-edit"></i>
                  </button>
                  <button class="btn btn-sm btn-danger me-2" (click)="deleteProduct(data.productid)">
                    <i class="las la-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <!--end /table-->
        </div>
        <!--end /tableresponsive-->
      </div>
      <!--end card-body-->
    </div>
    <!--end card-->
  </div>
  <!--end col-->
</div>
<!--end row-->
