<!-- ========================= Breadcrumb Start =============================== -->
<app-breadcrumb title="Sign-In" [items]="[
  { label: 'Sign-In' }
]"></app-breadcrumb>
<!-- ========================= Breadcrumb End =============================== -->

<!-- =============================== Account Section Start =========================== -->
<section class="account py-80">
    <div class="container container-lg">

            <div class="row gy-4">

                <!-- Login Card Start -->
                <div class="col-xl-4 pe-xl-2"></div>
                <div class="col-xl-4 pe-xl-5 border border-gray-100 hover-border-main-600 transition-1 rounded-16 px-24 py-40">
                   <form (ngSubmit)="login()" #loginForm="ngForm">

                      <div class="mb-24">
                          <label class="text-neutral-900 text-lg mb-8 fw-medium">
                          Email <span class="text-danger">*</span>
                          </label>
                          <input
                          type="text"
                          class="common-input"
                          name="email"
                          [(ngModel)]="loginData.email"
                          required
                          placeholder="Email">
                      </div>

                      <div class="mb-24">
                          <label class="text-neutral-900 text-lg mb-8 fw-medium">Password <span class="text-danger">*</span></label>

                          <input
                          type="password"
                          class="common-input"
                          name="password"
                          [(ngModel)]="loginData.password"
                          required
                          placeholder="Enter Password">
                      </div>

                      <button type="submit" class="btn btn-main py-18 w-100 rounded-8" [disabled]="isLoading">
                        {{ isLoading ? 'Verification ...' : 'Sign-In' }}
                      </button>
                      <div class="col-xl-12 pe-xl-3">
                        <div class="mt-12"><a [routerLink]="['/forgotpassword']" class="text-danger-600 text-sm fw-semibold hover-text-decoration-underline">Forgot your password?</a></div>
                      </div>
                      <div class="col-xl-12 pe-xl-3 text-center mt-12">
                        OR
                      </div>
                       <a [routerLink]="['/signup']" class="btn btn-main py-18 w-100 rounded-8">
                        Create account
                       </a>


                    </form>

                </div>
                 <div class="col-xl-4 pe-xl-2"></div>
                <!-- Login Card End -->
            </div>
    </div>
</section>
<!-- =============================== Account Section End =========================== -->

