<ngx-slick-carousel #slickModal="slick-carousel" [config]="slideConfig">
            <div
              ngxSlickItem
              *ngFor="let product of recommendedProducts; trackBy: trackByProductId"
              class="p-2"
            >

            </div>
      </ngx-slick-carousel>

      <div class="flash-sale-section">
  <div class="section-heading">
    <div class="flex-between flex-wrap gap-8">
      <h5 class="mb-0">Recommended for you</h5>

      <div class="flex-align gap-16">
        <a class="text-sm fw-medium text-gray-700 hover-text-main-600 hover-text-decoration-underline" href="/shop">
          View All Deals
        </a>

        <div class="flex-align gap-8">
          <button class="slick-prev slick-arrow" (click)="slickModal.slickPrev()">‹</button>
          <button class="slick-next slick-arrow" (click)="slickModal.slickNext()">›</button>
        </div>
      </div>
    </div>
  </div>

  <ngx-slick-carousel #slickModal="slick-carousel" [config]="slideConfig">
    <div
      ngxSlickItem
      *ngFor="let product of recommendedProducts; trackBy: trackByProductId"
      class="p-2"
    >
      <app-recommended-product-card [product]="product"></app-recommended-product-card>
    </div>
  </ngx-slick-carousel>
</div>
