<div class="breadcrumb mb-0 py-26 bg-main-two-50">
  <div class="container container-lg">
    <div class="breadcrumb-wrapper flex-between flex-wrap gap-16">
      <!-- Title -->
      <h6 class="mb-0">{{ title }}</h6>
      <!-- Breadcrumb Navigation -->
      <ul class="flex-align gap-8 flex-wrap">
        <!-- Home -->
        <li class="text-sm">
          <a
            routerLink="/"
            class="text-gray-900 flex-align gap-8 hover-text-main-600">
            <i class="ph ph-house"></i>
            Home
          </a>
        </li>
        <!-- Dynamic Breadcrumb -->
        <ng-container *ngIf="items?.length; else simpleBreadcrumb">
          <ng-container *ngFor="let item of items; let last = last">
            <li class="flex-align">
              <i class="ph ph-caret-right"></i>
            </li>

            <li class="text-sm"
                [ngClass]="{ 'text-main-600': last }">

              <a *ngIf="!last && item.link"
                 [routerLink]="item.link"
                 class="hover-text-main-600">
                {{ item.label }}
              </a>
              <span *ngIf="last || !item.link">
                {{ item.label }}
              </span>

            </li>
          </ng-container>
        </ng-container>

        <!-- Fallback (Old subtitle logic) -->
        <ng-template #simpleBreadcrumb>
          <li class="flex-align" *ngIf="subtitle">
            <i class="ph ph-caret-right"></i>
          </li>
          <li class="text-sm text-main-600" *ngIf="subtitle">
            {{ subtitle }}
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</div>
