<div class="row justify-content-center">

  <div class="col-md-12 col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Product Category Details</h4>
          </div>
          <div class="col text-end">
            <a routerLink="/productcategory/add" class="btn btn-primary btn-md">
              <i class="las la-plus me-2"></i>Add New Category
            </a>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-header-->
      <div class="card-body pt-0">
        <div class="row">
           <div class="col-md-4">
                <div class="mb-3">
                    <label class="form-label" for="exampleFormControlInput1">Group Name</label>
                     <select
                        class="form-select"
                        aria-label="Default select example"
                        (change)="loadProductCategoriesByGroupID($any($event.target).value)"
                      >
                        <option
                          *ngFor="let data of lstProductGroup"
                          [value]="data.groupid"
                        >
                          {{ data.groupname }}
                        </option>
                      </select>
                </div>
          </div>
          <div class="col-md-6">
              <div class="mb-3">
                  <label class="form-label" for="exampleFormControlInput1">Search</label>
                   <div class="input-group">
                     <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Ex : Find Product">
                      <button type="submit" class="btn btn-primary">Search</button>
                   </div>
                 
              </div>
            </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered mb-0 table-centered">
            <thead>
              <tr>
                <th>S.No</th>
                <th>Category Name</th>
                <th class="text-end"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of lstProductCategory">
                <td>{{ data.sno }}</td>
                <td>{{ data.categoryname }}</td>
                <td class="text-center">
                  <button class="btn btn-sm btn-primary me-2" (click)="editCategory(data.categoryid)">
                    <i class="las la-edit"></i>
                  </button>
                  <button
                    class="btn btn-sm btn-danger me-2"
                    (click)="deleteCategory(data.categoryid)"
                  >
                    <i class="las la-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <!--end /table-->
        </div>
        <!--end /tableresponsive-->
      </div>
      <!--end card-body-->
    </div>
    <!--end card-->
  </div>
  <!--end col-->
</div>
<!--end row-->
