<div class="row justify-content-center">

  <div class="col-md-12 col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Product Price</h4>
          </div>
          <div class="col text-end">
            <button class="btn btn-primary btn-md">
              <i class="las la-save me-2"></i>Save Changes
            </button>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-header-->
      <div class="card-body pt-0">
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <label class="form-label" for="exampleFormControlInput1">Group Name</label>
                      <select (change)="loadProductCategoriesByGroupID($any($event.target).value)" class="form-select" aria-label="Default select example">
                        <option value="" disabled selected>Select group</option>
                        <option *ngFor="let data of lstProductGroup" [value]="data.groupid">{{data.groupname}}</option>
                      </select>
                </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                    <label class="form-label" for="exampleFormControlInput1">Category</label>
                       <select (change)="loadProductsByCategoryID($any($event.target).value)" class="form-select" aria-label="Default select example">
                        <option value="" disabled selected>Select category</option>
                        <option *ngFor="let data of lstProductCategory" [value]="data.categoryid">{{data.categoryname}}</option>
                      </select>
                </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                  <label class="form-label" for="exampleFormControlInput1">Find</label>
                   <div class="input-group">
                     <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Ex : Find Product">
                      <button type="submit" class="btn btn-primary">Search</button>
                   </div>
                 
              </div>
            </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered mb-0 table-centered">
            <thead>
              <tr>
                <th>S.No</th>
                <th>Product Code</th>
                <th>Product Name</th>
                <th class="text-center">Available Stock</th>
                <th class="text-center">Sold Stock</th>
                <th class="text-center">Add Stock</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of lstProduct; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ data.productcode }}</td>
                <td>{{ data.productname }}</td>
                  <td class="text-center">
                    100
                  </td>
                  <td class="text-center">
                    10
                  </td>
                  <td class="text-center" contenteditable="true">
                   0
                  </td>
              </tr>
            </tbody>
          </table>
          <!--end /table-->
        </div>
        <!--end /tableresponsive-->
      </div>
      <!--end card-body-->
    </div>
    <!--end card-->
  </div>
  <!--end col-->
</div>
<!--end row-->
